mixin GETProbe(id, probe)
	- var style = (probe.status == "OK") ? "panel-success" : "panel-danger"
	


mixin PingProbe(id, probe)
	- var style = (probe.status == "OK") ? "panel-success" : "panel-danger"
