.modal-header
	h3.modal-title New Probe

.modal-body(ng-controller="probeTypeSelectionCtrl")
	select(ng-change="update()"
					ng-model="aTypeSelected"
					ng-options="aTypeSelected.value as aTypeSelected.caption for aTypeSelected in probeTypes")

.modal-footer
	button.btn.btn-primary(ng-click="ok()") OK
	button.btn.btn-warning(ng-click="cancel()") Cancel
