doctype
html(ng-app='nodeChecker',lang='en')
	head
		block title
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		meta( name='description', content='Baking Bootstrap Snippets with Jade' )
		//- Bootswatch Theme
	link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")

	body(style="padding-bottom:10rem;")
		.container
		block content
		script( src='/js/lib/jquery.min.js' )
		script( src='/js/lib/bootstrap.min.js' )
		script(src='/js/lib/angular.js')
		script(src='/js/lib/angular-route.js')
		script(src='/js/lib/angular-resource.js')
		script(src='/js/lib/ui-bootstrap-tpls-0.12.1.min.js')

		script(src='/js/src/app.js')

		script(src='/js/src/controllers.js')
		script(src='/js/src/services.js')
